*{
	margin:0%;
	padding:0%;
}

body{
	background: #aacccc;
	width:90%;
	margin: 10% 10%;
}

header, .main, footer{
	width:90%;
	max-width:900px;
	margin:15%;
}

header nav{
	background:#cccccc;
	overflow: hidden;	
}

header nav ul{
	list-style: none;
}

header nav ul li{
	float:left;	
}

header nav ul li a{
	padding: 10px 10px;
	display: block;
}

header nav ul li a:hover{
	background: #1111ff;
}

.main .article{

	width:68%;
	margin-right:2%;
	margin-bottom: 5px;
	float:left;
}

.main .article article{
	padding: 5px 5px;
    margin-bottom: 10px;
	background: #000000;
	color:#ffffff;
	
}

aside{
	float: left;
	padding:0%;
	width:30%;
	box-sizing: border-box;
	display:block;
}
 aside div  img{
	background-attachment:fixed;
	
}